fastapi==0.110.0
uvicorn[standard]==0.29.0
pyvisa==1.14.1
pyvisa-py==0.7.1
sqlalchemy==2.0.29
alembic==1.13.1
numpy==1.26.4
scipy==1.12.0
reportlab==4.1.0
openpyxl==3.1.2
pydantic==2.6.4
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
websockets==12.0
matplotlib==3.8.3
# llama-cpp-python==0.2.56
zeroconf==0.131.0
python-vxi11==0.9
pyinstaller==6.5.0
